* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #222;
    background: #fff;
    font-family: 'Oswald';
  }

  a {
    color: #222;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Oswald';
    font-weight: bold;
  }

  .logo img{
    max-width: auto;
    max-height: 7em;
    margin: 0%;
    padding: 1rem;
  }

  .navbar-links ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    gap: 0.5em;
    margin: 1em;
    font-size: large;
  }

  .navbar-links li:hover {
    background-color: #379956;
  }

  .navbar-links ul a {
    text-decoration: none;
    display: block;
    padding: 1rem;
  }

  /* Toggle Button */

  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }

  .toggle-mode{
    width: 1.8em;
  }

  .toggle-mode:hover {
    cursor: pointer;
}

  /* Dark Mode */

  body.dark-theme {
    color: #eee;
    background: #121212;
  }

  body.dark-theme a {
    color: #eee;
  }


  /* End of NavBar */

  .hero-image-container{
    background-image: url(Photos/Landscaping2.jpeg);
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 5em;
  }

  .inner-container h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-weight: bold;
    font-size: 5em;
    font-family: 'Oswald';
    color: white;
  }

    /* End of Hero Image Section */

    .card-title h1{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Oswald';
        font-size: 45px;
        color: #379956;
      }    

      .card-title h3{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        padding-bottom: 40px;
        color: #379956;
      }    

    .card-section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'Oswald';
        color: #379956;
    }

    .card-section p{
      color: black;
    }

    .card{
        height: 40em;
        width: 30em;
        background: white;
        margin: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px;
    }

    .card-image {
        height: 25em;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }

    .card-1{
        background-image: url(Photos/Landscaping1.jpeg);
    }
    
    .card-2{
        background-image: url(Photos/Lawn5.jpeg);
    }

    .card-3{
        background-image: url(Photos/Irrigation.jpg);
    }

    .card-4{
        background-image: url(Photos/PowerWasher.jpeg);
    }

    .card h1, .card p{
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    .card h1{
      font-size: 35px;
    }

    .card p{
      padding-top: 10px;
      font-size: 17px;
    }

    /* End of Card Section */

    .card-section-2{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'Oswald';
    }

    .card-bottom{
        background: white;
        width: 20em;
        height: 30em;
        margin: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px;
        color: #379956;
    }

    .card-bottom h1{
        text-align: center;
        color: #379956;
        padding-bottom: 5px;
        font-size: 30px;
    }

    .card-bottom p{
      text-align: center;
      color: black;
      padding-left: 25px;
      padding-right: 25px;
    }

    .card-image-bottom{
        height: 15em;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }

    .card-1-bottom{
        background-image: url(Photos/Sod.jpeg);
    }
    
    .card-2-bottom{
        background-image: url(Photos/Flowerbed.jpeg);
    }

    .card-3-bottom{
        background-image: url(Photos/Tree.webp);
    }

    .card-4-bottom{
        background-image: url(Photos/Drainage.jpeg);
    }

    /* End of Card Section 2 */

    .info-section{
      margin: 0 auto;
      max-width: 1000px;
    }

    .info-title{
      display: flex;
      justify-content: center;
      font-size: 45px;
      color: #379956;
    }

    .info-container{
      padding-top: 40px;
    }

    .info-container h2{
      padding-top: 20px;
      color: #379956;
    }

    .info-container p{
      font-size: 20px;
      padding-bottom: 30px;
    }
    
  /* Form  */

  .form-section{
    font-family: 'Oswald';
  }

  .contact-us{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #379956;
  }

  .facebook-icon{
    display: flex;
    justify-content: center;
    font-size: 2em;
  }

  .fa-brands{
    color: #4267B2;
  }

  .owner-number{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: black;
  }

  textarea{
    resize: none;
  }

  .form-button{
    height: auto;
    width: 5em;
    border-radius: 5em;
    background-color: #379956;
    padding: 0.4em;
    color: white;
    border: none;
  }

  .form-labels{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .form-labels h3{
    padding-bottom: 5px;
  }

  .input-field{
    width: 30%;
    height: 2rem;
    margin-bottom: 1rem;
    border-width: 1px;
    border-radius: 4px;
    padding: 3px;
  }

  .input-field-message{
    width: 30%;
    height: 7rem;
    border-width: 1px;
    border-radius: 4px;
    padding: 3px;
  }

  /* Footer Section */

  .foot{
    display: flex;
    margin-top: 50px;
    height: 100%;
    background-color: #379956;
    color: white;
    font-size: 14px;
  }

  .fut{
    float: left;
    width: 100%;
    margin: 1em;
  }

  .fut-two{
    float: right;
    margin: 1em;
  }


  /* End of Form Section */

  @media (max-width: 768px) { /* Media Query for Mobile Devices */
    .toggle-button {
        display: flex;
        right: 16px;
    }

    .navbar-links {
       display: none;
       width: 70%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-mode{
      width: 1.8em;
      position: fixed;
      bottom: 15px;
      left: 15px;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      padding-top: 0.3rem;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a {
        padding: .5em;
    }

    .navbar-links.active {
        display: flex;
    }

    /* End of Navbar Section */

    .hero-image-container{
      background-attachment: scroll;
    }

    .image-container {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-title{
        font-size: 1em;
    }

    /* End of Hero Image */

    .card{
      height: 40em;
      width: 20em;
    }

    .card-title{
        font-size: 20px;
      }

      .card-title h1{
        font-size: 36px;
      }

    /* End of Card Section */

    .card-bottom{
        width: 20em;
        height: 40em;
    }

    .card-image-bottom{
        height: 25em;
    }

    /* End of Card Section 2 */

    .info-section{
      max-width: 380px;
    }

    .info-title{
      display: flex;
      justify-content: center;
      font-size: 25px;
    }

    .info-container h2{
      display: flex;
      justify-content: center;
    }

    .info-container p{
      font-size: 18px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      text-align: center;
    }



  /* Last Section */


  .form-button{
    width: 5em;
  }

  /* Contact Form */

  .input-field{
    width: 70%;
  }

  .input-field-message{
    width: 70%;
  }
}

@media (min-width:1920px){

  .fishing{
    min-height: 60vh;
  }
}